
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button class="d-sm-inline-block btn btn-sm btn-info shadow-sm" onclick="modal(0)">
            <i class="fas fa-file fa-sm text-white mr-1"></i> Tambah
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tbl" width="100%" cellspacing="0"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Data @ViewData["Title"]</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-info btn-sm" type="button" id="modalSubmit">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            ViewData();
        });


        function ViewData() {
            var table = $('#tbl').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                ajax: {
                    url: '@Url.Action("getItems", "Master")',
                    type: "POST",
                    datatype: "json"
                },
                columns: [
                    { data: "id", title: "id", autoWidth: true, visible: false },
                    { data: "nama", title: "Nama", autoWidth: true },
                    { data: "uom", title: "UoM", autoWidth: true },
                    { data: "harga", title: "Harga per UoM", autoWidth: true },
                    {
                        data: null,
                        autoWidth: true,
                        render: function () {
                            return '<div class="dropdown"><button type="button" class="btn btn-sm btn-info shadow-sm dropdown-toggle" data-toggle="dropdown">Action</button><div class="dropdown-menu"><a class="dropdown-item" id="edit">Edit</a><a class="dropdown-item" id="hapus">Hapus</a></div></div>';
                        },
                        targets: -1
                    }
                ]
            });

            $('#tbl tbody').on('click', '#edit', function () {
                var data = table.row($(this).parents('tr')).data();
                modal(data["id"]);
            });

            $('#tbl tbody').on('click', '#hapus', function () {
                var data = table.row($(this).parents('tr')).data();
                Swal.fire({
                    title: 'Menghapus data ?',
                    text: "Anda tidak akan dapat memulihkan data ini.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        $.post('@Url.Action("hapusItem", "Master")', { id: data["id"] }, function (result) {
                            if (result !== 'Ok') {
                                Swal.fire(
                                    'Error !',
                                    '' + result + '',
                                    'error'
                                );
                            }
                            else {
                                Swal.fire(
                                    'Deleted !',
                                    'Berhasil menghapus data.',
                                    'success'
                                );
                                $('#tbl').DataTable().ajax.reload();
                            }
                        });
                    }
                });
            });
        }


        function modal(id) {
            $.get('@Url.Action("modalItems", "Master")', { id: id }, function (result) {
                $('#modalBody').html(result);
                $.validator.unobtrusive.parse('#frm');

                $('#modalSubmit').click(function (e) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    modalProses();
                });

            });
            $('#myModal').modal('show');
        }

        function modalProses() {
            if ($('#frm').valid()) {
                $.post('@Url.Action("submitItems", "Master")', $('#frm').serializeArray(), function (result) {
                    if (result === 'Ok') {
                        Swal.fire(
                            'Berhasil !',
                            'Data was recorded successfully',
                            'success'
                        );
                        $('#myModal').modal('hide');
                        $('#tbl').DataTable().ajax.reload();
                    }
                    else {
                        Swal.fire(
                            'Error !',
                            '' + result + '',
                            'error'
                        );
                    }
                });
            }
        }

    </script>


}


