@model renovi.Models.listTukang

<table class="table table-hover table-bordered table-sm" style="border-collapse:collapse;" id="tukTbl">
    <thead class="thead-dark">
        <tr>
            <th width="10">
                <div class="btn-group btn-group-sm d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-info" onclick="modalPersonil(0, '@ViewData["idProyek"]')">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </th>
            <th style="width: 40%;">Nama</th>
            <th style="width: 20%;">Role</th>
            <th style="width: 20%;">Telepon</th>
            <th style="width: 20%;">Rekening</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.data)
        {
            string idD = "btnDell" + m.Id;

            <tr>
                <td>
                    <div class="btn-group btn-group-sm d-flex justify-content-center">
                        <button type="button" class="btn btn-sm btn-danger" id="@idD" onclick="delTuk(@m.Id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-warning" id="@idD" onclick="modalPersonil(@m.Id, '@ViewData["idProyek"]')">
                            <i class="far fa-edit"></i>
                        </button>
                    </div>
                </td>
                <td>
                    @m.Nama
                </td>
                <td>
                    @m.Role
                </td>
                <td>
                    @m.Telepon
                </td>
                <td>
                    @m.Rekening
                </td>
            </tr>
        }
    </tbody>
</table>