@model renovi.Models.listRekap

@{
    ViewData["Title"] = "Rekapitulasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idProyek = ViewData["idProyek"];
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">@ViewData["Title"]</h5>
</div>

<div class="card shadow mb-4">
    <div class="card-header">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <small>Periode (Bulan-Tahun)</small>
                <select class="form-control form-control-sm" style="width: 100%;" id="speriode">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-sm-10 mt-4 text-right">
                <button id="btnPrint" class="btn btn-info btn-sm" onclick="printDiv($('#trigger').text())">
                    <i class="fas fa-print mr-1"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <label class="d-none" id="trigger"></label>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" id="tBiaya">
                <a class="nav-link active" id="biaya-tab" data-toggle="tab" href="#biaya" 
                   role="tab" aria-controls="biaya" aria-selected="true" 
                   onclick="getRekapBiaya('@idProyek', $('#speriode').val())">Biaya</a>
            </li>
            <li class="nav-item" id="tMaterial">
                <a class="nav-link" id="material-tab" data-toggle="tab" href="#material" 
                   role="tab" aria-controls="biaya" aria-selected="true" 
                   onclick="getRekapMaterial('@idProyek', $('#speriode').val())">Material dan Jasa</a>
            </li>
            <li class="nav-item" id="tProgressBiaya">
                <a class="nav-link" id="progressBiaya-tab" data-toggle="tab" href="#progressBiaya" 
                   role="tab" aria-controls="biaya" aria-selected="true" 
                   onclick="getRekapProgressBiaya('@idProyek', $('#speriode').val())">Progress Biaya</a>
            </li>
            <li class="nav-item" id="tProgressPekerjaan">
                <a class="nav-link" id="progressPekerjaan-tab" data-toggle="tab" href="#progressPekerjaan" 
                   role="tab" aria-controls="biaya" aria-selected="true" 
                   onclick="getRekapProgressPekerjaan('@idProyek', $('#speriode').val())">Progress Pekerjaan</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-4" id="biaya" role="tabpanel" aria-labelledby="biaya-tab">
                <div id="cBiaya"></div>
            </div>
            <div class="tab-pane fade mt-4" id="material" role="tabpanel" aria-labelledby="material-tab">
                <div id="cMaterial"></div>
            </div>
            <div class="tab-pane fade mt-4" id="progressBiaya" role="tabpanel" aria-labelledby="progressBiaya-tab">
                <div id="cProgressBiaya"></div>
            </div>
            <div class="tab-pane fade mt-4" id="progressPekerjaan" role="tabpanel" aria-labelledby="progressPekerjaan-tab">
                <div id="cProgressPekerjaan"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#loadings').removeClass('d-none');
            $.get('@Url.Action("getPeriodRekap", "Projects")', { idProyek: '@idProyek' }, function (data) {

                $('#speriode').select2({
                    placeholder: '- Pilih Periode -',
                    data: data,
                    tags: true,
                    casesensitive: false
                });

                $('#speriode').change(function (e) {
                    // kondisi tab yg aktif
                    var trigger = $('#trigger').text();
                    if (trigger == 'biaya') {
                        getRekapBiaya('@idProyek', $(this).val());
                    }
                    else if (trigger == 'material') {
                        getRekapMaterial('@idProyek', $(this).val());
                    }
                    else if (trigger == 'progressBiaya') {
                        getRekapProgressBiaya('@idProyek', $(this).val());
                    }
                    else if (trigger == 'progressPekerjaan') {
                        getRekapProgressPekerjaan('@idProyek', $(this).val());
                    };
                });

                getRekapBiaya('@idProyek', $('#speriode').val());
            });
        });

        function getRekapBiaya(idProyek, period) {
            $('#loadings').removeClass('d-none');
            $('#trigger').text('biaya');
            $.get('@Url.Action("RekapBiaya", "Projects")', { idProyek: idProyek, period: period }, function (result) {
                $('#cBiaya').html('');
                $('#cBiaya').html(result);
                $('#loadings').addClass('d-none');
            });
        }

        function getRekapMaterial(idProyek, period) {
            $('#loadings').removeClass('d-none');
            $('#trigger').text('material');
            $.get('@Url.Action("RekapMaterial", "Projects")', { idProyek: idProyek, period: period }, function (result) {
                $('#cMaterial').html('');
                $('#cMaterial').html(result);
                $('#loadings').addClass('d-none');
            });
        }

        function getRekapProgressBiaya(idProyek, period) {
            $('#loadings').removeClass('d-none');
            $('#trigger').text('progressBiaya');
            $.get('@Url.Action("RekapProgressBiaya", "Projects")', { idProyek: idProyek, period: period }, function (result) {
                $('#cProgressBiaya').html('');
                $('#cProgressBiaya').html(result);
                $('#loadings').addClass('d-none');
            });
        }

        function getRekapProgressPekerjaan(idProyek, period) {
            $('#loadings').removeClass('d-none');
            $('#trigger').text('progressPekerjaan');
            $.get('@Url.Action("RekapWip", "Projects")', { idProyek: idProyek, period: period }, function (result) {
                $('#cProgressPekerjaan').html('');
                $('#cProgressPekerjaan').html(result);
                $('#loadings').addClass('d-none');
            });
        }

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

    </script>
}